[defaults]
# (string) When a collection is loaded that does not support the running Ansible version (with the collection metadata key `requires_ansible`).
collections_on_ansible_version_mismatch=error

# (pathspec) Colon-separated paths in which Ansible will search for collections content. Collections must be in nested *subdirectories*, not directly in these directories. For example, if ``COLLECTIONS_PATHS`` includes ``'{{ ANSIBLE_HOME ~ "/collections" }}'``, and you want to add ``my.collection`` to that directory, it must be saved as ``'{{ ANSIBLE_HOME ~ "/collections/ansible_collections/my/collection" }}'``.

collections_path=./collections:/usr/share/ansible/collections

# (pathspec) Colon-separated paths in which Ansible will search for Roles.
roles_path=./roles:/usr/share/ansible/roles:/etc/ansible/roles

# (boolean) Set this to "False" if you want to avoid host key checking by the underlying connection plugin Ansible uses to connect to the host.
# Please read the documentation of the specific connection plugin used for details.
host_key_checking=True

# (boolean) Facts are available inside the `ansible_facts` variable, this setting also pushes them as their own vars in the main namespace.
# Unlike inside the `ansible_facts` dictionary where the prefix `ansible_` is removed from fact names, these will have the exact names that are returned by the module.
inject_facts_as_vars=False

[inventory]
# (string) This setting changes the behaviour of mismatched host patterns, it allows you to force a fatal error, a warning or just ignore it.
host_pattern_mismatch=error
