# {{ ansible_managed }}

[Timer]
OnCalendar=
OnCalendar=*-*-* {{ system_baseline_automatic_updates_apt_download_time }}
RandomizedDelaySec={{ system_baseline_automatic_updates_apt_download_randomized_delay_sec }}