#  {{ ansible_managed }}
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.
#
# Entries in this file show the compile time defaults.
# You can change settings by editing this file.
# Defaults can be restored by simply deleting this file.
#
# See timesyncd.conf(5) for details.

[Time]
{% if linux_common_debian_ntp_server_list is defined %}
NTP={{ linux_common_debian_ntp_server_list|join(" ") }}
{% else %}
#NTP=
{% endif %}
{% if linux_common_debian_ntp_server_fallback_ntp_list is defined %}
FallbackNTP={{ linux_common_debian_ntp_server_fallback_ntp_list|join(" ") }}
{% else %}
{% if ansible_distribution == 'Debian' %}
#FallbackNTP=0.debian.pool.ntp.org 1.debian.pool.ntp.org 2.debian.pool.ntp.org 3.debian.pool.ntp.org
{% elif ansible_distribution == 'Ubuntu' %}
#FallbackNTP=ntp.ubuntu.com
{% endif %}
{% endif %}
{% if linux_common_debian_ntp_root_distance_max_sec is defined %}
RootDistanceMaxSec={{ linux_common_debian_ntp_root_distance_max_sec }}
{% else %}
#RootDistanceMaxSec=5
{% endif %}
{% if linux_common_debian_ntp_poll_interval_min_sec is defined %}
PollIntervalMinSec={{ linux_common_debian_ntp_poll_interval_min_sec }}
{% else %}
#PollIntervalMinSec=32
{% endif %}
{% if linux_common_debian_ntp_poll_interval_max_sec is defined %}
PollIntervalMaxSec={{ linux_common_debian_ntp_poll_interval_max_sec }}
{% else %}
#PollIntervalMaxSec=2048
{% endif %}
